/InfoBloqueadaInterfaz.class
/InfoInterfaz.class
/InfoRecursoLocalInterfaz.class
/LecturaConfiguracion.class
/LecturaSolicitudesDeEntrada.class
/ProxyAbstracta.class
/RecursoLocalInterfaz.class
/SolicitudInterfaz.class
/URLBloqueadaInterfaz.class
